[submodule "Plugin/Froala"]
	path = Plugin/Froala
	url = git://github.com/froala/wysiwyg-cake.git
[submodule "plugins/Plugin/Froala"]
	path = plugins/Plugin/Froala
	url = git://github.com/froala/wysiwyg-cake.git
[submodule "plugins/Froala"]
	path = plugins/Froala
	url = git://github.com/froala/wysiwyg-cake.git
[submodule "Froala"]
	path = Froala
	url = git://github.com/froala/wysiwyg-cake.git
[submodule "plugins/Cml/cake-markup-language"]
	path = plugins/Cml/cake-markup-language
	url = git@github.com:jameswatts/cake-markup-language.git
